{% load static %} <!-- SM : tu n'as pas besoin de ça en HTML pur. Mais si tu es dans Django, oui tu peux en avoir besoin, mais je ne maîtrise pas -->
<html>
    <head>
        <title>  Accueil CKHN  </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/> <!-- SM : ici tu fais juste un href, et tu donnes le chemin relatif de ton fichier css. En html pur ça donnerai href='./../static/css/styles.css' par exemple. Le "." permet de dire je suis dans le dossier en cours (ici templates). Le ".." permet de dire je remonte dans le dossier parent (donc ici CKHN) -->

    </head>
    <body>
        <h1>abracadabra</h1>    
    </body> 
    <p> <a href= "{% url 'mdp' %}">page mot de passes </a> </p>
</html>
